@model Malenko_new.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <script src="../../Scripts/jquery-2.0.3.js"></script>
    <script src="../../Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
    <div id="connection">

            <div class="edlabel">
                <label for="Name">Ім'я</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="edlabel">
                <label for="Name">Email</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="edlabel">
                <label for="Name">Текс повідомлення</label>
            </div>

            <div class="editor-field">
                @Html.TextAreaFor(model => model.Text)
            </div>

            <p>
                <input type="submit" value="Надіслати" id="submitBtn" />
            </p>
       
        </div>
    }

</body>
</html>
